# Comparison Thiruvanathapuram and Kochi

This project is compare and contrast between the neighborhood characteristics of the two major cities viz, Thiruvananthapuram (Trivandrum) and Kochi (Cochin) of the state of Kerala in India. 

Data required are the list of suburbs of both these cities, latitude and longitude of each of these suburbs and foursquare data to corresponding to these coordinates. 

This workbook contains the list of neighborhoods and their latitude and longitude consolidated in two pandas dataframes.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    certifi-2020.4.5.1         |   py36h9f0ad1d_0         151 KB  conda-forge
    ca-certificates-2020.4.5.1 |       hecc5488_0         146 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge
    python_abi:      3.6-1_cp36m       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                    --> 2020.4.5.1-hecc5488_0     conda-forge
    certifi:         2020.4.5.1-py36_0             --> 2020.4.5.1-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0             --> 1.1.1g-h516909a_0         conda-forge


Downloading and Extracting Packages
geopy-1.21.0         | 58 KB     | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
certifi-2020.4.5.1   | 151 KB    | ##################################### | 100%
ca-certificates-2020 | 146 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
# The code was removed by Watson Studio for sharing.

   Unnamed: 0                                      Unnamed: 1
0         NaN                                             NaN
1         NaN                                             NaN
2         NaN     Aakkulam, Thiruvananthapuram, Kerala, India
3         NaN  Ambalathara, Thiruvananthapuram, Kerala, India
4         NaN   Aryankuzhi, Thiruvananthapuram, Kerala, India

In [3]:
# Clean TVM data

df_tvm = df_data_0
df_tvm.drop("Unnamed: 0", axis=1, inplace=True)
df_tvm.rename(columns={"Unnamed: 1": "TVM_place_name"}, inplace=True )
df_tvm.drop([0,1], axis=0, inplace=True)
df_tvm.shape

(67, 1)

In [4]:
# Remove TVM suburbs which do not fetch latitude and longitude coordinates from Geolocator

df_tvm.drop(df_tvm.index[[2,12,22,23,25,29,35,45,46,48,53,56,65]],inplace=True)

In [6]:
# Iteratively populating the latitude and longitude to pandas dataframe

L = []

i = 0
address = df_tvm.iloc[i,0]


# loop until you get the coordinates
while(i  < 53):

    geolocator = Nominatim(user_agent="tvm_explorer")
    location = geolocator.geocode(address)
    
    latitude = location.latitude
    longitude = location.longitude
    Address1=address.replace(", Thiruvananthapuram, Kerala, India", "")
 
    d = {'Address':Address1,
             'Latitude':latitude,
             'Longitude':longitude,
             }

    L.append(d)
     
    i = i + 1
    address = df_tvm.iloc[i,0]
    
        

df_coord = pd.DataFrame(L)
print(df_coord)

             Address  Latitude  Longitude
0           Aakkulam  8.516299  76.892079
1        Ambalathara  8.451039  76.949729
2      Attakulangara  8.479351  76.947455
3            Attukal  8.466490  76.959950
4         Beemapally  8.456439  76.934490
5              Chala  8.482888  76.949420
6         Chengallur  8.492304  76.977930
7   Connemara Market  8.502869  76.951233
8          East Fort  8.482810  76.947675
9       Jyothi Nagar  8.526414  76.940580
10       Kaithamukku  8.489566  76.940585
11      Kamaleswaram  8.467127  76.948242
12       Kaniyapuram  8.587665  76.856070
13       Kannammoola  8.502278  76.927191
14          Karamana  8.481707  76.966303
15       Kariavattom  8.555444  76.885414
16      Kazhakoottam  8.556815  76.872753
17   Kesavadasapuram  8.529840  76.938091
18      Konchiravila  8.453999  76.956684
19           Kowdiar  8.522754  76.960475
20          Manacaud  8.470998  76.942752
21       Mannanthala  8.560675  76.943377
22        Nalanchira  8.545559  76.947901
23             Nemom  8.452167  77.010054
24     Ooruttambalam  8.453062  77.059209
25           Palayam  8.503034  76.950565
26      Palkulangara  8.487354  76.936425
27        Pangappara  8.505891  76.957048
28      Pappanamcode  8.470212  76.981113
29            Pattom  8.518676  76.942145
30        Peroorkada  8.537289  76.966499
31       Perunthanni  8.485103  76.936948
32            Pettah  8.494206  76.927514
33             Peyad  8.513969  77.019523
34        Pongumoodu  8.540419  76.924214
35        Poojappura  8.489845  76.973602
36         Poonthura  8.451039  76.949729
37        Pothencode  8.619770  76.897530
38    Sasthamangalam  8.513167  76.972229
39        Sreekaryam  8.548949  76.917187
40        Thampanoor  8.487667  76.952434
41         Thirumala  8.501966  76.991846
42        Thonnakkal  8.505891  76.957048
43            Thumba  8.505891  76.957048
44            Ulloor  8.530005  76.928621
45        Valiyavila  8.506975  76.998838
46        Vanchiyoor  8.495900  76.939278
47     Vattiyoorkavu  8.529457  76.986468
48         Vazhayila  8.547029  76.973892
49      Vazhuthacaud  8.498084  76.957380
50     Vellayambalam  8.511472  76.962296
51         Vellayani  8.445338  76.988529
52         Vettucaud  8.494621  76.900147

In [55]:
# The code was removed by Watson Studio for sharing.

   Unnamed: 0                         Unnamed: 1
0         NaN                                NaN
1         NaN     Pachalam, Kochi, Kerala, India
2         NaN   Elamakkara, Kochi, Kerala, India
3         NaN  Cheranellur, Kochi, Kerala, India
4         NaN       Kaloor, Kochi, Kerala, India

In [56]:
# Clean koch data

df_koch = df_data_1
df_koch.drop("Unnamed: 0", axis=1, inplace=True)
df_koch.rename(columns={"Unnamed: 1": "Koch_place_name"}, inplace=True )
df_koch.drop([0,1], axis=0, inplace=True)
df_koch

                                Koch_place_name
2              Elamakkara, Kochi, Kerala, India
3             Cheranellur, Kochi, Kerala, India
4                  Kaloor, Kochi, Kerala, India
5            Palarivattom, Kochi, Kerala, India
6                Edapally, Kochi, Kerala, India
7     High Court Junction, Kochi, Kerala, India
8        Panampilly Nagar, Kochi, Kerala, India
9            Gandhi Nagar, Kochi, Kerala, India
10              Ravipuram, Kochi, Kerala, India
11               Pachalam, Kochi, Kerala, India
12           Kathrikadavu, Kochi, Kerala, India
13              Thammanam, Kochi, Kerala, India
14            Kadavanthra, Kochi, Kerala, India
15                 Kaloor, Kochi, Kerala, India
16   Ernakulam town\North, Kochi, Kerala, India
17              Ravipuram, Kochi, Kerala, India
18        Ernakulam South, Kochi, Kerala, India
19        Kalabhavan Road, Kochi, Kerala, India
20           Marine Drive, Kochi, Kerala, India
21      Willingdon Island, Kochi, Kerala, India
22             Fort Kochi, Kochi, Kerala, India
23           Mattancherry, Kochi, Kerala, India
24            Thoppumpady, Kochi, Kerala, India
25             Palluruthy, Kochi, Kerala, India
26              Chellanam, Kochi, Kerala, India
27             Kumbalangi, Kochi, Kerala, India
28              Kundannur, Kochi, Kerala, India
29               Edakochi, Kochi, Kerala, India
30                Thevara, Kochi, Kerala, India
31                 Maradu, Kochi, Kerala, India
32              Thykoodam, Kochi, Kerala, India
33            Chambakkara, Kochi, Kerala, India
34               Kakkanad, Kochi, Kerala, India
35                Vennala, Kochi, Kerala, India
36            Thrikkakara, Kochi, Kerala, India
37                Vyttila, Kochi, Kerala, India
38           Tripunithura, Kochi, Kerala, India
39            Kalamassery, Kochi, Kerala, India
40                  Aluva, Kochi, Kerala, India
41               Angamaly, Kochi, Kerala, India
42          North Paravur, Kochi, Kerala, India
43                  Eloor, Kochi, Kerala, India
44             Koonammavu, Kochi, Kerala, India
45              Vaduthala, Kochi, Kerala, India
46           Vypin Island, Kochi, Kerala, India
47               Kumbalam, Kochi, Kerala, India
48                  Aroor, Kochi, Kerala, India
49           Udayamperoor, Kochi, Kerala, India
50               Panangad, Kochi, Kerala, India
51              Eramallur, Kochi, Kerala, India
52            Perumbavoor, Kochi, Kerala, India
53                  Eroor, Kochi, Kerala, India
54          Thiruvankulam, Kochi, Kerala, India
55             Kolenchery, Kochi, Kerala, India
56                 Mamala, Kochi, Kerala, India
57         Kizhakkambalam, Kochi, Kerala, India
58                Piravom, Kochi, Kerala, India
59          Mulanthuruthy, Kochi, Kerala, India
60          Chottanikkara, Kochi, Kerala, India
61  Satellite Towns[edit], Kochi, Kerala, India
62          Kothamangalam, Kochi, Kerala, India
63          Moovattupuzha, Kochi, Kerala, India
64              Chalakudy, Kochi, Kerala, India
65         Koothattukulam, Kochi, Kerala, India
66            Kodungallur, Kochi, Kerala, India
67              Cherthala, Kochi, Kerala, India
68             Thodupuzha, Kochi, Kerala, India
69            Perumbavoor, Kochi, Kerala, India

In [57]:
# Remove koch suburbs which do not fetch latitude and longitude coordinates from Geolocator

df_koch1 = df_koch.drop(df_koch.index[[1,10,11,14,17,25,31,36,40,42,47,48,49,51,52,54,55,57,58,59,60,62,63,66]])

In [61]:
# Iteratively populating the latitude and longitude to pandas dataframe

M = []

j = 0



# loop until you get the coordinates
while(j  < 43):

    address_koch = df_koch1.iloc[j,0]
    geolocator = Nominatim(user_agent="koch_explorer")
    location = geolocator.geocode(address_koch)
    latitude = location.latitude
    longitude = location.longitude
    Address2=address_koch.replace(", Kochi, Kerala, India", "")
    
    #print(j, Address2, latitude, longitude)
 
    d = {'Address':Address2,
            'Latitude':latitude,
            'Longitude':longitude,
            }

    M.append(d)
     
    j = j + 1
    address = df_koch1.iloc[j,0]
    
        

df_kochcoord = pd.DataFrame(M)
print(df_kochcoord)

                Address   Latitude  Longitude
0            Elamakkara  10.017068  76.292086
1                Kaloor   9.967339  76.299929
2          Palarivattom  10.002527  76.306206
3              Edapally  10.028576  76.310089
4   High Court Junction   9.983803  76.274017
5      Panampilly Nagar   9.965506  76.294294
6          Gandhi Nagar   9.934074  76.260630
7             Ravipuram   9.959610  76.289858
8              Pachalam  10.001258  76.279076
9           Kadavanthra   9.966674  76.298158
10               Kaloor   9.967339  76.299929
11            Ravipuram   9.959610  76.289858
12      Ernakulam South   9.964709  76.287607
13         Marine Drive   9.976074  76.277645
14    Willingdon Island   9.947789  76.275470
15           Fort Kochi   9.965447  76.244950
16         Mattancherry   9.958351  76.259181
17          Thoppumpady   9.934813  76.260073
18           Palluruthy   9.926331  76.270878
19            Chellanam   9.791248  76.278362
20            Kundannur   9.931853  76.317985
21             Edakochi   9.893751  76.295982
22              Thevara   9.935783  76.298296
23               Maradu   9.939759  76.328630
24            Thykoodam   9.960110  76.323729
25             Kakkanad   9.998822  76.381237
26              Vennala  10.005820  76.318720
27          Thrikkakara   9.934074  76.260630
28              Vyttila   9.966111  76.314468
29          Kalamassery  10.044541  76.317178
30                Aluva  10.110095  76.349516
31             Angamaly  10.193980  76.386232
32                Eloor   9.977107  76.279920
33            Vaduthala  10.013150  76.276762
34         Vypin Island  10.078410  76.210286
35             Kumbalam   9.890583  76.312375
36                Aroor   9.866916  76.299596
37          Perumbavoor  10.114630  76.477757
38           Kolenchery   9.980016  76.472593
39              Piravom   9.934074  76.260630
40        Moovattupuzha   9.765201  76.562090
41          Kodungallur  10.223959  76.197750
42            Cherthala   9.691204  76.325717